.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;

  h2,
  h3,
  ul {
    margin: 0;
  }

  .header {
    align-items: center;
    display: flex;
    margin-bottom: 12px;

    .logo {
      height: 43px;
      width: 43px;

      @media screen and (max-width: 768px) {
        width: 24px;
        height: 24px;
      }
    }

    .companyName {
      font-size: 24px;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  a {
    color: rgb(80, 70, 220);

    &:hover {
      text-decoration: underline;
    }
  }

  .settingGroup {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: fixed;
    right: 20px;

    @media screen and (max-width: 768px) {
      bottom: 0;
      display: grid;
      gap: 0;
      grid-template-columns: 1fr 1fr;
      right: 0;
      width: 100%;
    }

    button {
      background: rgb(80, 70, 220);
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 16px;
      transition: 500ms;

      &:hover {
        background: rgb(100, 100, 235);
      }

      &:active {
        background: rgb(80, 70, 220);
      }

      @media screen and (max-width: 768px) {
        border-radius: 0;
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }
}
