.transparent {
  background: transparent;
}

.background1 {
  background: rgb(255, 240, 240);
}

.background2 {
  background: rgb(255, 250, 240);
}

.background3 {
  background: rgb(240, 255, 245);
}
